@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Inder&family=Libre+Baskerville&display=swap");

.a{
    display: flex;
    flex-direction: column;
}
.field{
    background: #FEFEFE;
    border-radius: 30px;
    margin-top: 10px;
    padding: 15px;
    height: 30px;
    width: 400px;
    display: flex;
    align-self:center ;
}
.field p{
    align-self: center;
    font-family: "Inder", "sans-serif";
    font-size: 20px;
}
