@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Inder&family=Libre+Baskerville&display=swap");

.staffdash {
  display: flex;
  flex-direction: column;
  width: 90vw;
  flex-wrap: wrap;
  gap: 40px;
}
.staffdash-container {
  display: flex;
  align-self: center;
  gap: 60px;
  /* align-items: center; */
  flex-wrap: wrap;
}
.staffdash-wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Inder", "sans-serif";
  font-size: 24px;
  /* text-align:center ; */
  color: #ffff;
  width: 100%;
  height: 100%;
}
.staffdash-wrapper p {
  width: 350px;
}
.staffdash-wrapper img {
  width: 200px;
  margin-left: 130px;
  margin-top: -30px;
  /* height: 300px; */
}
.tabs {
  display: flex;
  gap: 20px;
}
.staffdash-right {
  margin-top: 50px;
}
