@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Caveat:wght@600&family=Inder&family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Caveat:wght@600&family=Inder&family=Libre+Baskerville&family=Poppins:wght@100;200&display=swap");

.signup{
  display: flex;
  flex-direction: column;
  width: 90vw;
  flex-wrap: wrap;
  gap: 40px;
}

 .signup-container{
  display: flex;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 90px;
 }

 .signup-right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 470px;
  height: 400px ;
  background-color: #BEBEBE;
  border-radius: 50px;
 }
 /* .input1{
  margin-bottom: 20px;
  width:300px;
  height: 10px;
  border-color: white;
  padding: 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 800;
 }
 .form{
  display: flex;
  justify-content: center;
 }

 .signup-button{
  margin-left: 80px;
  width: 150px;
  line-height: 30px;
  background: #4c4c4c;
  border: none;
  outline: none;
  font-family: "Bakbak One", cursive;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
  border-radius: 20px;
 } */
 .wrapper{
  display: flex;
  flex-direction: column;
 }

 .wrapper img{
  width: 200px;
  height: 200px;
  margin-left: 60px;
  margin-top: -250px;
  /* align-self: center; */
 }

/* Custom CSS for the toast message */
.single-line-toast {
  background-color: #ffcc00;
}

button:hover{
  cursor: pointer;
}

